<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>To-Do Entry</title>
</head>

<body>
<header><h1>{{todo.title}}</h1></header>
<hr>
<ul>
	<b>Task:</b><br>
	{{todo.task}} <br><br>
	
	<b>Created:</b><br> 
	{{todo.created}} <br>
</ul>
</body>

<form action="/todos/delete/{{todo.id}}">
    <input type="submit" value="Delete" />
</form>
<form action="/todos/modify/{{todo.id}}">
    <input type="submit" value="Modify" />
</form>
<form action="../../">
    <input type="submit" value="Return" />
</form>


</html>



